.customButton {
  @apply bg-storm-green text-pale-yellow px-3 py-2 ml-1 rounded-tl-md rounded-bl-2xl rounded-tr-2xl max-w-max;

  transition: var(--standard-transition);
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 3px 1px 0px var(--mustard);
  }
}
