@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: theme(colors.storm-green);
  --background: theme(colors.pale-yellow);
  --mustard: theme(colors.mustard);
  --standard-transition: all 100ms linear;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: theme(colors.storm-green);
    --background: theme(colors.pale-yellow);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--atkinson-font);
  @apply text-lg;
}

h1,
h2,
h3 {
  font-family: var(--garamond-font);
}

.content {
  @apply px-2 py-3;
}
